/* * {
  margin: 0;
  padding: 0;
} */

body {
  background-image: url("./images/background.png");
  /* background-repeat: no-repeat; */
  background-attachment: fixed;

  color: #fff;
}

.list li {
  list-style: none;
  padding-bottom: 10px;
}
